html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.CodesTable table {
    width: 100%
}

.CodesTable thead {
    width: calc(100%-1em);
}

.CodesTable tbody {
    display: block;
    height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}

    .CodesTable thead, .CodesTable tbody tr {
        display: table;
        width: 97%;
        table-layout: fixed;
    }

.CodesTable thead, .CodesTable tbody, .CodesTable td {
    border: none !important;
}

.YearsWorked {
    background-image: none;
}
